.tarjeta2 {
    border: solid 4px black;
    padding: 16px;
    margin: 50px;
    left: 20px;
    display: inline-block;
    width: 400px;
    height: 500px;
    
    }

.tarjeta2-grande {
        border: solid 4px black;
        padding: 5px;
        margin: 100px;
        left: 0px;
        display: inline-block;
        width: 800px;
        height: 700px;
        
        }

.tarjeta__foto2 {
    width: 200px;
    height: 200px;
}

.tarjeta__foto3 {
    width: 350px;
    height: 400px;
}

