
@media screen and (max-width: 600px) {
    
    .flex-padre1 {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    .nav {
        display: flex;
        flex-direction: row;
        justify-content:space-around;
        width: 500px;
        margin: 40px;
        margin-top: 90px;
    
    
    }

    .header__titulo {
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        font-style: italic;
        text-align: center;
        position: fixed;
        top: 10px;
        left: 170px;
    


}
.footer__logo-resi{
    width: 50px;
    height: 50px;
    position: relative;
    left: 70px
   
}

.footer__resi {
    font-size: 20px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    position: relative;
    left: 60px;
}
.tarjeta {
    border:solid 2px black ;
    padding: 5px;
    margin: 5px;
    border-radius: 50px;

    display: inline-block;
}

.Foto__Resi {
    width: 300px;
    height: 400px;
    
}

.nosotros-titulo {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin-left: 50px;
    

}

.tarjeta__contacto {
    border:solid 2px black ;
    padding: 20px;
    margin: 40px;
    width: 350px;
    height: 350px;

    display: inline-block;
}

.margen{
    margin: 120px;
}

.tarjeta2 {
    border: solid 4px black;
    padding: 16px;
    margin: 10px;
   
    display: inline-block;
    width: 300px;
    height: 400px;
    
    }

.tarjeta2-grande {
        border: solid 4px black;
        padding: 5px;
        margin: 5px;
        left: 0px;
        display: inline-block;
        width: 350px;
        height: 400px;
        
        }



.tarjeta__foto3 {
    width: 250px;
    height: 300px;
}

   
}
   
   
    